# Basic Python

## 1. Split this string

In [1]:
s = "Hi there Sam!"

In [2]:
print(s.split(" "))

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
print(f"The diameter of {planet} is {diameter} kilometers")

The diameter of Earth is 12742 kilometers

## 3. In this nest dictionary grab the word "hello"

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:

print(d["k1"][3]["tricky"][3]["target"][3])

hello

# Numpy

In [25]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [26]:
print(np.zeros(10))

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [27]:
print(np.ones(10))

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

## 5. Create an array of all the even integers from 20 to 35

In [29]:
print(np.arange(20,35,2))

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [33]:
print(np.random.randint(8,size=(3,3)))

[[0 6 7]
 [1 2 1]
 [0 5 0]]

# 7. Concatenate a and b

In [38]:

a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print(np.concatenate((a,b)))

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [39]:
import pandas as pd

In [48]:
row = np.array([[100,29],[390,490],[597,690]])

column = ["RAM","SITHA"]

print(pd.DataFrame(data=row,columns=column,index=["i","ii","iii"]))

     RAM  SITHA
i    100     29
ii   390    490
iii  597    690

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [45]:
print(pd.date_range(start="1/1/2023",end="10/2/2023"))

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-23', '2023-09-24', '2023-09-25', '2023-09-26',
               '2023-09-27', '2023-09-28', '2023-09-29', '2023-09-30',
               '2023-10-01', '2023-10-02'],
              dtype='datetime64[ns]', length=275, freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [46]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [51]:
print(pd.DataFrame(lists,columns=["NO.","Name","Roll_Num"]))

   NO. Name  Roll_Num
0    1  aaa        22
1    2  bbb        25
2    3  ccc        24